* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1500px;
  scroll-behavior: smooth;
  direction: rtl;
  font-size: 16px;
}

body {
  font-weight: 600;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333533;
  background-color: #cfd2cd;
}

body a {
  text-decoration: none;
}

body .above-page-header-navbar header {
  background-color: #fff;
  box-shadow: 0 3px 10px #fff;
}

body .above-page-header-navbar header .first-line-header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

body .above-page-header-navbar header .first-line-header .header-icon {
  margin: 11px 0 0 0;
  color: #001d3d;
  transition: all 0.6s ease;
}

body .above-page-header-navbar header .first-line-header .header-icon:hover {
  color: #ffc300;
}

body .above-page-header-navbar header .first-line-header .sign-up {
  margin: 11px 0 0 11px;
  font-size: 0.9em;
  color: #001d3d;
  transition: all 0.6s ease;
}

body .above-page-header-navbar header .first-line-header .sign-up:hover {
  color: #ffc300;
}

body .above-page-header-navbar header .first-line-header .logo-site {
  width: 12%;
  height: 100px;
  filter: drop-shadow(0 0 5px #eee);
}

body .above-page-header-navbar header .search-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: nowrap;
}

body .above-page-header-navbar header .search-toggle .toggle {
  width: 20px;
  height: 20px;
  margin: 0 0 0 30px;
  font-size: 1.3em;
  position: relative;
}

body .above-page-header-navbar header .search-toggle .toggle:active .tool {
  display: block;
}

body .above-page-header-navbar header .search-toggle .toggle:active::before {
  right: 15px;
}

body .above-page-header-navbar header .search-toggle .toggle::before {
  width: 15px;
  height: 13px;
  border-radius: 40%;
  background-color: #fff;
  position: absolute;
  content: "";
  top: 3px;
  right: 2px;
  z-index: 1;
  cursor: pointer;
}

body .above-page-header-navbar header .search-toggle .toggle::after {
  width: 33px;
  height: 19px;
  border-radius: 40%;
  background-color: #000;
  position: absolute;
  content: "";
  cursor: pointer;
}

body .above-page-header-navbar header .search-toggle .toggle .tool {
  display: none;
  width: 50px;
  text-align: center;
  position: absolute;
  left: 0;
  top: -25px;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
}

body .above-page-header-navbar header .search-toggle .search-site {
  margin: 0 0 0 20px;
  border-radius: 10px;
  padding: 3px;
  font-size: .8em;
  width: 50px;
  outline: none;
  border: none;
  color: #333533;
  box-shadow: 1px 3px 5px #eee;
  transition: all 0.4s ease;
}

body .above-page-header-navbar header .search-toggle .search-site:hover {
  width: 174px;
}

body .above-page-header-navbar header .search-toggle .search-site:focus {
  width: 174px;
}

body .above-page-header-navbar header nav {
  background-color: #fff;
  margin: 0 7px 0 0;
}

body .above-page-header-navbar header nav ul {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
}

body .above-page-header-navbar header nav ul .navbar-item-main1 {
  z-index: 10;
  cursor: pointer;
  padding: 0 35px 15px 0;
  position: relative;
  transition: all 1s ease;
  position: relative;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover {
  color: #ffc300;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover::after {
  content: "\f078";
}

body .above-page-header-navbar header nav ul .navbar-item-main1::after {
  content: '\f053';
  font-family: 'font awesome 5 free';
  top: 4.5px;
  left: 0;
  right: 20px;
  font-size: 0.6em;
  position: absolute;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0 2px 9px #cfd2cd;
  position: absolute;
  top: 34px;
  right: 0;
  background-color: #fff;
  border-radius: 3px;
  width: 150%;
  padding: 10px 10px 15px 10px;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items .first-items {
  margin: 10px 0 0 0;
  padding: 15px;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items .first-items .first-items-a {
  padding: 0 0 15px 0;
  color: #333533;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items .first-items .first-items-a:hover {
  border-bottom: 1px solid #ffc300;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items .first-items i {
  font-size: 0.6em;
  margin: 0 0 0 2px;
  color: #ffc300;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items #first-items-parent {
  position: relative;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items #first-items-parent:hover .child-items-for-first1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0 2px 9px #cfd2cd;
  position: absolute;
  top: 0;
  right: 125px;
  background-color: #fff;
  border-radius: 3px;
  width: 150%;
  padding: 10px 10px 15px 10px;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items #first-items-parent:hover .child-items-for-first1::before {
  content: "\f02e";
  font-family: 'font awesome 5 free';
  font-size: 0.8em;
  color: #000;
  position: absolute;
  right: 10px;
  top: 5px;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items .child-items1 {
  padding: 15px;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items .child-items1 a {
  padding: 0 0 15px 0;
  color: #333533;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items .child-items1 a:hover {
  border-bottom: 1px solid #ffc300;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items .child-items-for-first1 {
  display: none;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items #second-items-parent {
  position: relative;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items #second-items-parent:hover .child-items-for-first2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0 2px 9px #cfd2cd;
  position: absolute;
  top: 0;
  right: 140px;
  background-color: #fff;
  border-radius: 3px;
  width: 120%;
  padding: 10px 10px 15px 10px;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items #second-items-parent:hover .child-items-for-first2::before {
  content: "\f02e";
  font-family: 'font awesome 5 free';
  font-size: 0.8em;
  color: #000;
  position: absolute;
  right: 10px;
  top: 5px;
}

body .above-page-header-navbar header nav ul .navbar-item-main1:hover .navbar-first-items .child-items-for-first2 {
  display: none;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 {
  z-index: 10;
  cursor: pointer;
  padding: 0 35px 15px 0;
  position: relative;
  transition: all 1s ease;
}

body .above-page-header-navbar header nav ul .navbar-item-main2:hover {
  color: #ffc300;
}

body .above-page-header-navbar header nav ul .navbar-item-main2:hover::after {
  content: "\f078";
}

body .above-page-header-navbar header nav ul .navbar-item-main2::after {
  content: '\f053';
  font-family: 'font awesome 5 free';
  top: 4.5px;
  left: 0;
  right: 20px;
  font-size: 0.6em;
  position: absolute;
}

body .above-page-header-navbar header nav ul .navbar-item-main2:hover .navbar-second-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0 2px 9px #cfd2cd;
  position: absolute;
  top: 34px;
  right: 0;
  background-color: #fff;
  border-radius: 3px;
  width: 150%;
  padding: 10px 10px 15px 10px;
}

body .above-page-header-navbar header nav ul .navbar-item-main2:hover .navbar-second-items .second-items {
  margin: 10px 0 0 0;
  padding: 15px;
}

body .above-page-header-navbar header nav ul .navbar-item-main2:hover .navbar-second-items .second-items i {
  font-size: 0.6em;
  margin: 0 0 0 2px;
  color: #ffc300;
}

body .above-page-header-navbar header nav ul .navbar-item-main2:hover .navbar-second-items .second-items .second-items-a {
  padding: 0 0 15px 0;
  color: #333533;
}

body .above-page-header-navbar header nav ul .navbar-item-main2:hover .navbar-second-items .second-items .second-items-a:hover {
  border-bottom: 1px solid #ffc300;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 #first-items-parent-two {
  position: relative;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 #first-items-parent-two:hover .child-items-for-second1 {
  box-shadow: 0 2px 9px #cfd2cd;
  position: absolute;
  top: 0;
  right: 88px;
  background-color: #fff;
  border-radius: 3px;
  width: 200%;
  padding: 10px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 #first-items-parent-two:hover .child-items-for-second1::before {
  content: "\f02e";
  font-family: 'font awesome 5 free';
  font-size: 0.8em;
  color: #000;
  position: absolute;
  right: 10px;
  top: 5px;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 .child-items2 {
  padding: 15px;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 .child-items2 a {
  padding: 0 0 15px 0;
  color: #333533;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 .child-items2 a:hover {
  border-bottom: 1px solid #ffc300;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 #second-items-parent-two {
  position: relative;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 #second-items-parent-two:hover .child-items-for-second2 {
  box-shadow: 0 2px 9px #cfd2cd;
  position: absolute;
  top: 0;
  right: 110px;
  background-color: #fff;
  border-radius: 3px;
  width: 150%;
  padding: 10px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 #second-items-parent-two:hover .child-items-for-second2::before {
  content: "\f02e";
  font-family: 'font awesome 5 free';
  font-size: 0.8em;
  color: #000;
  position: absolute;
  right: 10px;
  top: 5px;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 #third-items-parent-two {
  position: relative;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 #third-items-parent-two:hover .child-items-for-second3 {
  box-shadow: 0 2px 9px #cfd2cd;
  position: absolute;
  top: 0;
  right: 88px;
  background-color: #fff;
  border-radius: 3px;
  width: 195%;
  padding: 10px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 #third-items-parent-two:hover .child-items-for-second3::before {
  content: "\f02e";
  font-family: 'font awesome 5 free';
  font-size: 0.8em;
  color: #000;
  position: absolute;
  right: 10px;
  top: 5px;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 .child-items-for-second1 {
  display: none;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 .child-items-for-second2 {
  display: none;
}

body .above-page-header-navbar header nav ul .navbar-item-main2 .child-items-for-second3 {
  display: none;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 {
  z-index: 10;
  cursor: pointer;
  padding: 0 35px 15px 0;
  position: relative;
  transition: all 1s ease;
}

body .above-page-header-navbar header nav ul .navbar-item-main3:hover {
  color: #ffc300;
}

body .above-page-header-navbar header nav ul .navbar-item-main3:hover::after {
  content: "\f078";
}

body .above-page-header-navbar header nav ul .navbar-item-main3::after {
  content: '\f053';
  font-family: 'font awesome 5 free';
  top: 4.5px;
  left: 0;
  right: 20px;
  font-size: 0.6em;
  position: absolute;
}

body .above-page-header-navbar header nav ul .navbar-item-main3:hover .navbar-third-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0 2px 9px #cfd2cd;
  position: absolute;
  top: 34px;
  right: 0;
  background-color: #fff;
  border-radius: 3px;
  width: 131%;
  padding: 10px 10px 15px 10px;
}

body .above-page-header-navbar header nav ul .navbar-item-main3:hover .navbar-third-items .third-items {
  margin: 10px 0 0 0;
  padding: 15px;
}

body .above-page-header-navbar header nav ul .navbar-item-main3:hover .navbar-third-items .third-items i {
  font-size: 0.6em;
  margin: 0 0 0 2px;
  color: #ffc300;
}

body .above-page-header-navbar header nav ul .navbar-item-main3:hover .navbar-third-items .third-items .third-items-a {
  padding: 0 0 15px 0;
  color: #333533;
}

body .above-page-header-navbar header nav ul .navbar-item-main3:hover .navbar-third-items .third-items .third-items-a:hover {
  border-bottom: 1px solid #ffc300;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 #first-item-parent-three {
  position: relative;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 #first-item-parent-three:hover .child-items-for-third1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  right: 97px;
  background-color: #fff;
  border-radius: 3px;
  width: 170%;
  padding: 10px 10px 15px 10px;
  box-shadow: 0 2px 9px #cfd2cd;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 #first-item-parent-three:hover .child-items-for-third1::before {
  content: "\f02e";
  font-family: 'font awesome 5 free';
  font-size: 0.8em;
  color: #000;
  position: absolute;
  right: 10px;
  top: 5px;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 #first-item-parent-three .child-items3 {
  padding: 15px;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 #first-item-parent-three .child-items3 a {
  padding: 0 0 15px 0;
  color: #333533;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 #first-item-parent-three .child-items3 a:hover {
  border-bottom: 1px solid #ffc300;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 #second-item-parent-three {
  position: relative;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 #second-item-parent-three:hover .child-items-for-third2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  top: 0;
  right: 102px;
  background-color: #fff;
  border-radius: 3px;
  width: 160%;
  padding: 10px 10px 15px 10px;
  box-shadow: 0 2px 9px #cfd2cd;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 #second-item-parent-three:hover .child-items-for-third2::before {
  content: "\f02e";
  font-family: 'font awesome 5 free';
  font-size: 0.8em;
  color: #000;
  position: absolute;
  right: 10px;
  top: 5px;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 #second-item-parent-three .child-items3 {
  padding: 15px;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 #second-item-parent-three .child-items3 a {
  padding: 0 0 15px 0;
  color: #333533;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 #second-item-parent-three .child-items3 a:hover {
  border-bottom: 1px solid #ffc300;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 .child-items-for-third1 {
  display: none;
}

body .above-page-header-navbar header nav ul .navbar-item-main3 .child-items-for-third2 {
  display: none;
}

body .above-page-header-navbar header nav ul .navbar-item-main4 {
  cursor: pointer;
  padding: 0 35px 15px 0;
  position: relative;
  transition: all 1s ease;
}

body .above-page-header-navbar header nav ul .navbar-item-main4:hover {
  color: #ffc300;
}

body .above-page-header-navbar header nav ul .navbar-first-items {
  display: none;
}

body .above-page-header-navbar header nav ul .navbar-second-items {
  display: none;
}

body .above-page-header-navbar header nav ul .navbar-third-items {
  display: none;
}

body .above-page-header-navbar header nav ul .navbar-fourth-items {
  display: none;
}

.container-page-main {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 0.6fr 3fr;
  gap: 15px;
}

.container-page-main aside {
  background-color: #fff;
  box-shadow: -3px 0 5px #fff, 3px 0 5px #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 10px 0 0;
  border-radius: 3px;
}

.container-page-main aside .img-aside {
  width: 100%;
  margin: 0 0 20px 0;
  filter: drop-shadow(0 3px 5px #fff);
}

.container-page-main aside .span-aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.container-page-main aside .span-aside .span-for-aside {
  padding: 50px 8px;
}

.container-page-main aside .span-aside .span-for-aside .link-for-aside {
  padding-bottom: 8px;
  color: #333533;
  transition: all 0.6s ease;
}

.container-page-main aside .span-aside .span-for-aside .link-for-aside:hover {
  opacity: 80%;
  border-bottom: .5px solid #ffc300;
}

.container-page-main aside .span-aside .span-for-aside i {
  margin: 0 0 0 2px;
  color: #ffc300;
}

.container-page-main .container-page-child {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  box-shadow: -3px 0 5px #fff, 3px 0 5px #fff;
  border-radius: 3px;
  text-align: justify;
  margin: 0 0 0 10px;
}

.container-page-main .container-page-child .section-content-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 15px;
}

.container-page-main .container-page-child .section-content-one .img-a {
  width: 60%;
  height: 50vh;
  border-left: 10px double #003566;
  border-right: 10px double #003566;
  border-radius: 8px;
  filter: drop-shadow(0 2px 5px #cfd2cd);
}

.container-page-main .container-page-child .section-content-one .boxes {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0 1px 5px #003566;
  background-color: #cfd2cd;
  border-radius: 5px;
  margin: 14px 10px 10px 10px;
}

.container-page-main .container-page-child .section-content-one .boxes .box-text1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
}

.container-page-main .container-page-child .section-content-one .boxes .box-text1::after {
  content: ' ';
  position: absolute;
  width: 1px;
  height: 50px;
  background-color: #000;
  right: 324px;
}

.container-page-main .container-page-child .section-content-one .boxes .box-text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
}

.container-page-main .container-page-child .section-content-one .boxes .box-text3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
}

.container-page-main .container-page-child .section-content-one .boxes .box-text3::before {
  content: ' ';
  position: absolute;
  width: 1px;
  height: 50px;
  background-color: #000;
  left: 326px;
}

.container-page-main .container-page-child .section-content-one .p-content-one {
  line-height: 30px;
  padding: 15px;
}

.container-page-main .container-page-child .section-content-one .button {
  align-self: flex-start;
  outline: none;
  border: none;
  padding: 8px;
  font-size: .9em;
  border-radius: 5px;
  box-shadow: 0 3px 1px #cfd2cd;
  transition: all 0.6s ease;
}

.container-page-main .container-page-child .section-content-one .button:hover {
  box-shadow: 0 1px 3px #ffc300;
  background-color: #cfd2cd;
}

.container-page-main .container-page-child .section-content-one .button:hover .a-button {
  font-weight: bold;
  letter-spacing: -0.5px;
}

.container-page-main .container-page-child .section-content-one .button:hover i {
  color: #ffc300;
  transform: rotateZ(40deg);
}

.container-page-main .container-page-child .section-content-one .button .a-button {
  font-size: 0.9em;
  color: #333533;
}

.container-page-main .container-page-child .section-content-one .button i {
  transition: all 0.6s ease;
  font-size: 1em;
}

.container-page-main footer {
  background-color: #fff;
  height: 25vh;
  grid-column: 1/-1;
  box-shadow: 0 -3px 5px #fff;
}

.img-b {
  width: 20%;
}

.img-c {
  width: 20%;
}

.img-e {
  width: 20%;
}
/*# sourceMappingURL=style-1.css.map */