@mixin disp($dirc,$just,$align,$wrap) {
    display: flex;
    flex-direction:$dirc;
    justify-content:$just;
    align-items:$align;
    flex-wrap:$wrap;
};
@mixin transition($trans) {
    transition:$trans;
}
@mixin box-shadow($box...) {
    box-shadow: $box;
}

@media screen and (max-width:768px){

    .container-page-child3{
    grid-column:1/-1;
    #{$ma}:0;
    .img1{
        #{$w}:50%;
        #{$ma}: 10px 0 10px 0;
    }
    
  }
}
@media  screen and (min-width:769px) and (max-width:1270px) {
    .container-page-child3{
        .img1{
            #{$ma}: 30px 0 10px 0;
        }
    }
}